server:
  http_listen_port: 9080
  log_level: info

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container'
      - source_labels: ['__meta_docker_container_label_com_docker_compose_service']
        target_label: 'service'
      - source_labels: ['__meta_docker_container_image_name']
        target_label: 'image'
      - source_labels: ['container']
        target_label: 'job'
      - source_labels: ['__meta_docker_container_label_app']
        target_label: 'app'
    pipeline_stages:
      - json:
          expressions:
            level: level
            service: service
            message: message
      - labels:
          level:
          service:
      - output:
          source: message
